<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/categories/css/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/categories/css/style.css') }}" />
            
        {% endblock  %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    {% block body %}{% endblock %}
    {% block javascripts %}
        <script src="{{ asset('bundles/categories/js/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/categories/js/tether.min.js') }}"></script>
        <script src="{{ asset('bundles/categories/js/bootstrap.min.js') }}"></script>
    {% endblock  %}
</body>
</html>
