{% extends 'base.html.twig' %}
{% block body %}

    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">VE</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{{path('homepage')}}">Home</a></li>
                        <li><a href="{{path('categories_index')}}">Categories</a></li>
                        <li class="active"><a href="{{path('products_index')}}">Products</a></li>             
                    </ul>           
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>

        <h1>Products list</h1>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Category</th>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Updated at</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#productModal">
            Create a new product
        </button>    
    </div>
    <!-- Modal -->
    <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Product</h4>
                </div>
                <div class="modal-body">
                    <div id="alerts"></div>
                    <form class="form-row">
                        <input type="hidden" name="id" id="product_id"/>
                        <input type="hidden" name="updatedAt" id="updatedAt" value="{{"now"|date("Y-m-d H:i:s")}}"/>
                        <div class="form-group"> 
                            <label for="category">Category</label> 
                            <select name="category_id" id="category_id" class="form-control" required="required">
                                <option value="">-Choose-</option>
                                {% for category in categories %}
                                    <option value="{{ category.id }}">{{ category.category }}</option>
                                {% endfor %}    
                            </select>
                        </div>
                        <div class="form-group"> 
                            <label for="category">Product name</label> 
                            <input type="text" class="form-control" required="required" id="product_name" name="product" placeholder="Product name..."> 
                        </div>
                        <div class="form-group"> 
                            <label for="category">Product price</label> 
                            <input type="number" class="form-control" required="required" id="product_price" name="price" placeholder="Product price..."> 
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="Products.addEdit()">Save changes</button>
                </div>
            </div>
        </div>
    </div>      
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var _add_product = '{{path('products_new')}}';
        var _load_product = '{{path('products_load')}}';
        var _delete_product = '{{path('products_remove', { 'id': 0}) }}'
      
    </script>
    <script src="{{ asset('bundles/categories/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/categories/js/tether.min.js') }}"></script>
    <script src="{{ asset('bundles/categories/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/products/js/functions.js') }}"></script>
{% endblock  %}

